html,
body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

:root {
    --header-height: 60px;
    --background-color: #1e1e1e;
    --secondary-background-color: #2e2e2e;
    --text-color:white;
    --secondary-text-color: #ff4c60;
}