@font-face {
    font-family: 'Satoshi Complete';
    src: url('assets/fonts/Satoshi_Complete/Fonts/TTF/Satoshi-VariableItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: 'Satoshi Complete', sans-serif;
    color: var(--text-color);
}

:root {
    --header-height: 60px;
    --background-color: #1e1e1e;
    --secondary-background-color: #2e2e2e;
    --text-color:white;
    --secondary-text-color: #ff4c60;
}
.common-container{
    padding:0 1.5rem 0 3rem;
}
.top-text{
    margin-top:5rem;
}