<section class="row common-container">
    <h1 class="col-12 top-text">Mauricio Cardozo</h1>
    <h2 class="col-12">Full Stack Engineer</h2>
    
    <p class="col-12s">Software engineer focused on building robust, scalable solutions — driven by clarity, simplicity, and long-term maintainability.</p>

    <ngx-typed-js 
        [strings]="technologies" 
        [loop]="true" 
        [typeSpeed]="100" 
        (stringTyped)="onStringTyped($event)"
        (preStringTyped)="obBeforeStringTyped($event)">
            > <span class="typing" [ngClass]="{'red-text': isRepeat, 'white-text': !isRepeat}"></span>
    </ngx-typed-js>

    <div class="social-icons-container col-12">
        <i class="fa-brands fa-github small-icon"></i>
        <i class="fa-brands fa-linkedin small-icon"></i>
    </div>
</section>