app-header {
    height:  var(--header-height);;
    display: block;
}

.container-fluid {
    height: calc(100vh -  var(--header-height));
}

.fixed-panel,
.dynamic-panel {
    height: 100%;
    overflow: auto;
}

.fixed-panel {
    background-color: var(--background-color);
    color: var(--text-color);
}

.dynamic-panel {
    background-color: var(--secondary-background-color);
    color: var(--text-color);
    padding: 0 1.5rem 10% 3rem;

    scrollbar-width: thin; 
    scrollbar-color: rgba(255, 255, 255, 0.25) transparent;
}

.dynamic-panel::-webkit-scrollbar {
    width: 10px;
}
.dynamic-panel::-webkit-scrollbar-track {
    background: var(--secondary-background-color);
}
.dynamic-panel::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 8px;
    border: 2px solid var(--secondary-background-color);
}

