app-header {
    height:  var(--header-height);;
    display: block;
}

.container-fluid {
    height: calc(100vh -  var(--header-height));
}

.fixed-panel,
.dynamic-panel {
    height: 100%;
    overflow: auto;
}

.fixed-panel {
    background-color: var(--background-color);
    color: var(--text-color);
}

.dynamic-panel {
    background-color: var(--secondary-background-color);
    color: var(--text-color);
}